header{
    position: sticky;
    top: 0;
    z-index: 50;
    background-color:#fff;
    width: 100%;
    color:white;
    /* height: 50px; */
    padding: 1rem;
    border-bottom: 1px solid rgb(168, 161, 161);
}

header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    color: #343b53;
    font-weight: 500;
}

.image_logo{
    cursor: pointer;
    padding-top: 5px;
    width: 130px;
}