<header >
    <div class="row justify-content-end">
        <div class="col-5 ">
            <img class="image_logo" routerLink="/" src="https://www.expedia.co.in/_dms/header/logo.svg?locale=en_GB&amp;siteid=27&amp;2" alt="expedia logo">
        </div>
        <nav class="col-6 ">
            <ul class="row m-0 justify-content-end">
                <li class="col-2">
                    <i class="bi bi-globe"></i> English
                </li>
                <li class="col-2">
                    Support 
                </li>
                <li class="col-2">
                    Trips
                </li>
                <li class="col-2">
                    Sign In
                </li>
            </ul>
        </nav>
    </div>
</header>
